main {
  background-image: url(media/svg/Template_Final_v4.svg); //CELLPHONE SVG
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1024px;
  height: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
}
