::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: ($secondary, 0.5);
  border-radius: 10px;
  size: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: $tertairy;
  border-radius: 10px;
}
